<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get It Done
            <br />
            With Us Today
        </h2>
        <p>
            Experience the difference that HomePro's expertise, passion, and commitment to customer satisfaction can bring to your home renovation journey.
        </p>
        <a href="/contact" class="cs-button-solid">Get an Estimate Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets5-L.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets5-L.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/cabinets5-L.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>