---
title: 'Reviews'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Reviews</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/reviewer1.PNG" alt="" width="99" height="99">
                </picture>
                <p>
                    HomePro completely transformed my living space, turning it into a haven of comfort and style. Their attention to detail and commitment to excellence truly exceeded my expectations. I'm thrilled to come home every day!
                </p>
                <div class="star-group">
                    <span class="name">Ryan D.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/reviewer3.PNG" alt="" width="99" height="99">
                </picture>
                <p>
                    From concept to completion, HomePro's team displayed unmatched professionalism and creativity. They revamped my bathroom into a luxurious retreat, and the end result speaks volumes about their expertise.
                </p>
                <div class="star-group">
                    <span class="name">Anesia M.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/reviewer2.PNG" alt="" width="99" height="99">
                </picture>
                <p>
                    I can't thank HomePro enough for the remarkable outdoor living space they created for me. It's become my favorite spot for relaxation and entertainment, and their dedication to my vision was truly impressive.
                </p>
                <div class="star-group">
                    <span class="name">Santiago J.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/reviewer4.PNG" alt="" width="99" height="99">
                </picture>
                <p>
                    I can't thank HomePro enough for the remarkable outdoor living space they created for me. It's become my favorite spot for relaxation and entertainment, and their dedication to my vision was truly impressive.
                </p>
                <div class="star-group">
                    <span class="name">Arrieana M.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png" alt="" width="99" height="99">
                </picture>
                <p>
                    I couldn't be happier with HomePro's bathroom renovation service! From start to finish, they were a joy to work with. Their team demonstrated exceptional expertise and a keen eye for design. My bathroom now feels like a luxurious spa retreat right in my home!s
                </p>
                <div class="star-group">
                    <span class="name">Sanjay B.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png" alt="" width="99" height="99">
                </picture>
                <p>
                    HomePro truly transformed my house into a dream home! From the initial consultation to the final reveal, their team exhibited professionalism and creativity. The kitchen renovation they did for me was phenomenal; it's like stepping into a glossy magazine! 
                </p>
                <div class="star-group">
                    <span class="name">Sarah M.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}