---
title: 'Home'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">HomePro Renovations</span>
                <h1 class="cs-title">Comfortable Living Starts Here</h1>
                <p class="cs-text">
                     With HomePro, we expertly combine our passion for design with a focus on creating harmonious spaces that seamlessly blend coziness, functionality, and style, transforming your house into a home where comfort is not just a luxury, but an everyday reality.
                </p>
                <a href="/about" class="cs-button-solid">Explore More</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17" />
                    Get in Touch
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service1.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Kitchen and Bathroom Remodeling</h2>
            <br/>
            <p>We understand that the heart of every home lies in the kitchen and the sanctuary of relaxation resides in the bathroom. Our Kitchen and Bathroom Remodeling service is dedicated to elevating these essential spaces, blending style and functionality to create personalized havens that cater to your unique lifestyle.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service2.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Interior Design and Redecoration</h2>
            <br/>
            <p> If you're looking to refresh the overall look and feel of your home, HomePro's interior design and redecoration service is the perfect choice. Our talented design team will work closely with you to understand your preferences, lifestyle, and budget, curating a personalized design plan that enhances your home's comfort and visual appeal, from choosing paint colors and furniture to incorporating stylish décor elements.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service3.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Outdoor and Driveway Construction</h2>
            <br/>
            <p>At HomePro, we believe that the exterior of your home is just as important as the interior. Our Outdoor and Driveway Construction service is dedicated to creating beautiful and functional outdoor spaces that enhance your property's curb appeal and extend your living area to the great outdoors.</p>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction6.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction6.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction6.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
              
                <h2 class="cs-title">About Us</h2>
               
                <p class="cs-text">
                Our Story:
                HomePro was founded with a clear vision - to provide exceptional renovation services that enhance the way people live. We collaborate closely with our clients, ensuring each project reflects their unique vision.
                </p>   
                <p class="cs-text">
                What Sets Us Apart:
                Customer satisfaction is our priority. We prioritize transparency, open communication, and quality craftsmanship to deliver results that stand the test of time.
            </p>
            <p class="cs-text">
                Customer-Centric Approach:
                Our commitment to customer satisfaction is at the core of our business. We treat every project with the utmost care and dedication, striving to exceed expectations and deliver results that stand the test of time. Transparency, open communication, and timely project management are pillars of our customer-centric approach, ensuring a smooth and stress-free experience for our clients.
            </p>
        
            <p class="cs-text">
                Our Services:
                From kitchen and bathroom remodeling to outdoor living spaces, HomePro offers a comprehensive range of home renovation solutions.
            </p>
            <p class="cs-text">
                Join Us in Building Dreams:
                Partner with HomePro to unlock the full potential of your home. Experience the difference of creativity, passion, and expertise in every project.
            </p>
            <p class="cs-text">
                Experience the HomePro difference - where comfort and craftsmanship unite to create spaces that inspire and enrich lives. Contact us today to craft your dream home.
                </p>
                
                <div class="cs-flex-group">
                    
                    <span class="cs-name">Matthew Bryant</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction3.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction3.jpg" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets4.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets4.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets4.jpg" alt="cabinets" loading="lazy" width="500" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                
                <h2 class="cs-title">See What We're Doing</h2>
                <p class="cs-text">
                    Follow our journey as we share valuable industry insights, design trends, and expert advice to empower you on your own home improvement endeavors. From kitchen makeovers that redefine culinary bliss to bathroom sanctuaries that elevate relaxation to new heights, we leave no stone unturned in exploring the infinite possibilities of creating your dream home.
                </p>
                <p class="cs-text">
                    Our blog is not just about showcasing our successes; it's about building a community of homeowners, designers, and enthusiasts who share a passion for transforming houses into homes that exude comfort, style, and functionality. Join us on this immersive experience, and together, let's unveil the magic that happens when imagination and craftsmanship merge seamlessly.
                </p>
                <a href="/blog" class="cs-button-solid">Read our Blog</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
        
            <h2 class="cs-title">Our Projects</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="/projects" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                
At HomePro, our customers are at the heart of everything we do.

For us, it's not just about renovating houses; it's about building lasting relationships. We believe in putting our customers first, understanding their unique needs, and tailoring our services to create homes that truly reflect their vision.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        I couldn't be happier with HomePro's bathroom renovation service! From start to finish, they were a joy to work with. Their team demonstrated exceptional expertise and a keen eye for design. My bathroom now feels like a luxurious spa retreat right in my home! They managed to optimize the limited space I had, and the result is simply breathtaking. The tiling work is flawless, and the fixtures they recommended added a touch of elegance. I've already received compliments from friends and family. HomePro truly understands their craft and delivers top-notch results. I highly recommend their services for anyone looking to elevate their living space. Thank you, HomePro!
                    </p>
                    <span class="cs-reviewer">
                        Sanjay M.
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                <!-- Review 2 -->
                <li  class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        HomePro truly transformed my house into a dream home! From the initial consultation to the final reveal, their team exhibited professionalism and creativity. The kitchen renovation they did for me was phenomenal; it's like stepping into a glossy magazine! The attention to detail and quality of work surpassed my expectations. They listened to my ideas and turned them into reality, making my kitchen not only visually stunning but also highly functional. I can't wait to work with HomePro again for my next project. Highly recommended!

Their dedication to delivering projects on time and within budget was a breath of fresh air, making the renovation process a stress-free and enjoyable experience.
                    </p>
                    <span class="cs-reviewer">
                        Sarah M.
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}